<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>登录</title>

    <link rel="stylesheet" href="./dist/modules/bootstrap/css/bootstrap.min.css" th:href="@{/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="./dist/modules/fontawesome/css/all.min.css" th:href="@{/dist/css/all.min.css}">
    <link rel="stylesheet" href="./dist/modules/bootstrap-social/bootstrap-social.css" th:href="@{/dist/css/bootstrap-social.css}">
    <link rel="stylesheet" href="./dist/css/style.css" th:href="@{/dist/css/style.css}">
</head>

<body>
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="login-brand">
                        <img src="./dist/img/stisla-fill.svg" th:src="@{/images/logo100.png}" alt="logo" width="100" class="rounded-circle">
                    </div>

                    <div class="card card-primary">
                        <div class="card-header"><h4>登录</h4></div>

                        <div class="card-body">
                            <form method="POST" th:action="@{/login}" class="needs-validation" novalidate="">
                                <div class="form-group">
                                    <label for="email">用户名</label>
                                    <input id="email" type="text" class="form-control" name="username" tabindex="1" required autofocus>
                                    <div class="invalid-feedback">
                                        请填写用户名
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="d-block">
                                        <label for="password" class="control-label">密码</label>
                                        <div class="float-right">
                                            <a href="auth-forgot-password.html" class="text-small">
                                                忘记密码?
                                            </a>
                                        </div>
                                    </div>
                                    <input id="password" type="password" class="form-control" name="password" tabindex="2" required>

                                    <th:block th:if="${error}">
                                        <div class="invalid-feedback" style="display: block">
                                            用户名或密码错误
                                        </div>
                                    </th:block>
                                    <th:block th:if="!${error}">
                                        <div class="invalid-feedback" >
                                            用户名或密码错误
                                        </div>
                                    </th:block>
                                </div>

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                                        <label class="custom-control-label" for="remember-me">记住我</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                        登录
                                    </button>
                                </div>
                            </form>
                            <!--<div class="text-center mt-4 mb-3">
                              <div class="text-job text-muted">第三方社交登录</div>
                            </div>
                            <div class="row sm-gutters">
                              <div class="col-6">
                                <a class="btn btn-block btn-success btn-social btn-facebook">
                                  <span class="fab fa-weixin"></span> 微信
                                </a>
                              </div>
                              <div class="col-6">
                                <a class="btn btn-block btn-social btn-twitter">
                                  <span class="fab fa-qq"></span> QQ
                                </a>
                              </div>
                            </div>-->

                        </div>
                    </div>
                    <div class="mt-5 text-muted text-center">
                        未注册账户? <a href="http://39.100.76.45/api/register">创建一个</a>
                    </div>
                    <div class="simple-footer">
                        Copyright &copy; hengjuyun.com 2019
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="./dist/modules/jquery.min.js" th:src="@{/dist/js/jquery.min.js}"></script>
<script src="./dist/modules/bootstrap/js/bootstrap.min.js" th:src="@{/dist/js/bootstrap.min.js}"></script>
<script src="./dist/js/scripts.js" th:src="@{/dist/js/scripts.js}"></script>
</body>
</html>