.footer {
    display: flex;
    flex-flow: column;
    font-size: 12px;
    text-align: center;
    color: #a2a2a2;
    width: 100%;
    margin-top: 50px;
}

.footer .f-menu {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: 10px 0 0 0;
    text-align: center;
}

.footer .f-menu li {
    padding: 3px 7px;
    /* float: left; */
    display: inline-block;
}

.footer .f-menu li a {
    color: #a2a2a2;
}

body, html {
    width: 100%;
    min-height: 100%;
    font-size: 14px;
    background: white;
}

.linkABlue {
    background: transparent;
    position: relative;
    top: -4px;
    color: #2296f3;
}
