
.lo-p-form {
    max-width: 500px; /*Ã¦â€“â€¡Ã¦Å“Â¬Ã¦â€“â€¡Ã¦Â¡Â£Ã¥Â®Â½Ã¥ÂºÂ¦*/
    margin-top: 100px !important; /*Ã¨Â·ÂÃ§Â¦Â»Ã©Â¡Â¶Ã©Æ’Â¨Ã©Â«ËœÃ¥ÂºÂ¦*/
    margin: auto;
    padding: 30px;
    font-size: 0.85rem;
}

.lo-p-form {
    padding-bottom: 30px;
    border: none;
    border-radius: 2px;
    border: 1px #eaeaea solid;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.p-btn {
    width: 100%;
}

.text-center > h5 {
    margin-bottom: 15px;
    color: #6c757d;
}

.text-muted {
    color: #98a6ad !important;
}

.lo-to {
    font-size: 13px;
}

.check_div label {
    font-size: 13px;
}

.res-login {
    position: relative;
    top: -3px;
}

.kx-account-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-lons {
    padding: 20px 0 20px 0px;
    background: #2196f3;
}

.lo-back {
    padding-bottom: 30px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.prefix {
    margin-top: 10px;
    font-size: 24px;
}

.lo-icon {
    padding: 30px;
}

.lo-pak {
    padding-top: 30px;
    font-size: 16px;
    text-align: center;
}

.lo-lo-pass {
    float: right;
    position: relative;
    top: 1px;
    color: black;
    font-size: 0.85rem;
    margin-bottom: 0;
}

label {
    font-weight: 500;
}

.lo-back span {
    font-size: 16px;
    color: black;
}

.md-form {
    margin-bottom: 30px;
}

.lo-btn {
    text-align: right;
}

.lo-btns {
    margin-top: 30px;
    outline: none;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: initial;
    width: 100%;
}

.lo-dis {
    padding-left: 7%;
    margin-bottom: 30px;
}

.lo-foot {
    margin-top: 280px
}

.md-form .prefix ~ input, .md-form .prefix ~ textarea {
    margin-left: 3rem;
    width: 92%;
    width: -webkit-calc(100% - 3rem);
    /* width: calc(100% - 100px); */
}

.p-cons {
    font-size: 0.8rem;
}

.res-red {
    border: 1px #eaeaea solid;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.res-button {
    text-align: center;
}

.red-button {
    margin-top: -20px;
    width: 71px;
    height: 38px;
    margin: 10px 0 10px 0;
}

@media (max-width: 768px) {
    .lo-dis {
        padding-left: 0%;
    }
}

@media (max-width: 392px) {
    .res-button {
        margin: auto;
        margin-left: 0px;
    }
}