@font-face {
    font-family: 'openkx';
    src: url('../fonts/openkx.eot?lyyojp');
    src: url('../fonts/openkx.eot?lyyojp#iefix') format('embedded-opentype'),
    url('../fonts/openkx.ttf?lyyojp') format('truetype'),
    url('../fonts/openkx.woff?lyyojp') format('woff'),
    url('../fonts/openkx.svg?lyyojp#openkx') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'openkx' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-boNiLQhu6:before {
    content: "\e900";
}

.kx-login-logo > span {
    font-size: 30px !important;
    color: white !important;
}

.newtainer {
    width: 100%;
}

@media (min-width: 768px) {
    .newtainer {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .newtainer {
        max-width: 970px;
    }
}

/*@media (max-width: 992px){.info_card .card, .placeholder-border{max-width: 530px;}}*/
body {
    font-size: 14px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}

a, a:hover {
    text-decoration: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

input {
    outline: none;
}

.shadow_z1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.shadow_z2 {
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0.25);
}

.btn-primary {
    background: #2196f3;
    border-color: #3884c6;
    border-radius: 2px;
}

.btn-primary:hover {
    background-color: #2088da;
    border-color: #204d74;
}

.kx-account-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mg0 {
    margin: 0 !important;
}

.pd0 {
    padding: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.btn {
    font-size: 13px;
}

.full-width {
    max-width: 100%;
    width: 100%;
}

.layout_drawer, .main_drawer {
    height: calc(100% - 64px);
    width: 185px;;
    transform: translateX(0);
    position: fixed;
    top: 64px;
    left: 0;
    box-sizing: border-box;
    transition-duration: .2s;
}

.layout_drawer {
    transform: translateX(-185px);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-right: 1px solid #e0e0e0;
    background: #fff;
    z-index: 97;
}

.layout_drawer .head {
    height: 64px;
    line-height: 64px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
}

.layout_drawer.is-visible {
    transform: translateX(0);
}

.layout_obfuscator {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.layout_obfuscator.is-visible {
    pointer-events: auto;
    opacity: 1;
    background-color: transparent;
    visibility: hidden;
}

.layout_drawer.main_drawer {
    transform: translateX(0);
    box-shadow: none;
    background: transparent;
    border: 0;
    z-index: 999;
}

.layout_drawer.main_drawer.is-visible {
    transform: translateX(-185px);
}

.layout_drawer.main_drawer .drawer-menu li a {
    background: transparent !important;
}

.layout_drawer.main_drawer .drawer-menu li ul.inmenu {
    padding: 0;
    list-style: none;
    display: none;
}

.layout_drawer.main_drawer .drawer-menu li ul.inmenu.open {
    display: block;
}

.layout_drawer.main_drawer .drawer-menu li ul.inmenu li a {
    padding-left: 76px;
    background: transparent !important;
    text-decoration: none;
}

.layout_drawer.main_drawer .drawer-menu li ul.inmenu li.on a {
    color: #2196f3;
}

.layout_drawer.main_drawer .drawer-menu li a .caret {
    position: absolute;
    right: 8px;
    top: 21px;
}

@media (max-width: 768px) {
    .layout_drawer.main_drawer {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        border-right: 1px solid #e0e0e0;
        background: #fff;
        transform: translateX(-270px);
    }

    .layout_drawer.main_drawer.is-visible {
        transform: translateX(0);
    }

    .layout_drawer.main_drawer .drawer-menu li a {
        padding-left: 16px;
    }

    .layout_drawer.main_drawer .drawer-menu li a .caret {
        right: 16px;
    }

    .layout_drawer.main_drawer .drawer-menu li ul.inmenu li a {
        padding-left: 66px;
    }
}

.caret {
    border-top: 4px dashed #909090;
}

.caret.open {
    border-top: 0;
    border-bottom: 4px dashed #909090;
}

.layout_drawer.main_drawer .drawer-menu li ul.inmenu li.on a:before {
    content: "";
    position: absolute;
}

.header {
    background-color: #2196f3;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 64px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding: 0 16px 0 75px;
}

.top-menu {
    float: right;
    margin: 0;
    padding: 0;
    height: 64px;
    line-height: 64px;
}

.top-menu .mitem .header_userimg {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.myInfo {
    padding: 22px 11px 19px 128px;
    position: relative;
}

.myphoto {
    font-size: 12px;
    height: 96px;
    left: 21px;
    line-height: 20px;
    position: absolute;
    top: 31px;
    width: 96px;
}

.userhead {
    border-radius: 50%;
    height: 96px;
    overflow: hidden;
    position: relative;
    width: 96px;
}

.userhead img {
    border-radius: 45%;
}

.userhead a {
    display: block;
}

.change-userhead {
    background: rgba(0, 0, 0, 0.54) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 9px;
    font-weight: bold;
    left: 0;
    line-height: 9px;
    padding: 7px 0;
    position: absolute;
    text-align: center;
    width: 96px;
}

.myshow {
    line-height: 24px;
}

.myname {
    color: #000;
    font-weight: bold;
    word-break: break-all;
    min-height: 24px;
}

.Email {
    color: #666;
    min-height: 24px;
    word-break: break-all;
}

.signature {
    color: #a9a9a9;
    margin-bottom: 4px;
    min-height: 20px;
    word-break: break-all;
    font-size: 12px;
}

.top-menu .mitem {
    display: inline-block;
    vertical-align: middle;
    height: 36px;
}

.top-menu .mitem .mitema i {
    vertical-align: middle;
}

.top-menu .mitem .mitema i, .top-menu .mitem .mitema span {
    position: relative;
    z-index: 1;
}

.top-menu .mitem .mitema:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /*    background-color: rgba(0, 0, 0, 0.12);*/
    transform: scale3d(0, 0, 0);
    transition: all 250ms ease 0s;
    left: 0;
    top: 0;
}

.mitem.open a:before, .btn-group.open a:before {
    transform: scale3d(1, 1, 1) !important;
}

.top-menu .mitem .mitema:hover:before {
    transform: scale3d(1, 1, 1);
}

.top-menu .mitem .mitema {
    display: block;
    color: #fff;
    padding: 0 13px;
    line-height: 36px;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.drawer_button i {
    position: relative;
    z-index: 1;
    margin-top: 12px;
}

.drawer_button {
    display: block;
    height: 48px;
    width: 48px;
    border: 0;;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    font-size: 26px;
    line-height: 56px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 8px 12px;
    top: 0;
    left: 0;
    color: #fff;
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.drawer_button:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.drawer_button:hover:before {
    background-color: rgba(0, 0, 0, 0.06);
}

.drawer_button:active:before {
    background-color: rgba(0, 0, 0, 0.12);
}

.logo {
    position: relative;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    float: left;
    height: 64px;
    line-height: 64px;
}

.logo a, .logo a:hover {
    color: #fff;
    text-decoration: none;
    font-weight: 100;
}

.logo span {
    display: inline-block;
    color: white;
    font-size: 30px;
    vertical-align: middle;
    margin-right: 10px;
    transition: 1s;
}

.logo a:hover span {
    transform: rotate(-240deg);
}

@media (max-width: 768px) {
    .header {
        z-index: 97;
    }

    .layout_drawer {
        transform: translateX(-268px);
        top: 0;
        width: 268px;
        z-index: 100;
        height: 100%;
        background: #fff;
        overflow: auto;
    }

    /*  .layout_drawer.is-visible{transform: translateX(0);}*/
    .layout_obfuscator.is-visible {
        pointer-events: auto;
        opacity: 1;
        visibility: visible;
        background-color: rgba(0, 0, 0, .5);
    }
}

.dropright {
    left: auto;
    right: 0;
}

.lv-header {
    border-bottom: 1px solid #f0f0f0;
    color: #4c4c4c;
    font-weight: 500;
    line-height: 100%;
    padding: 15px 10px 13px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
}

.lv-header a {
    position: absolute;
    top: 13px;
    right: 8px;
    color: #adadad;
}

.lv-header a i {
    font-size: 20px;
}

.lv-body {
    min-height: 295px;
    overflow-x: hidden;
}

.lv-footer {
    border-top: 1px solid #f0f0f0;
    color: #828282;
    display: block;
    font-size: 11px;
    line-height: 100%;
    padding: 7px 10px 8px;
    text-align: center;
    text-decoration: none;
}

.dropdown-menu-lg {
    width: 300px;
}

#top-search-wrap {
    background: #fff none repeat scroll 0 0;
    height: 64px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: -64px;
    transition: all 300ms ease 0s;
    width: 100%;
    z-index: 10;
}

.search-toggled #top-search-wrap {
    opacity: 1;
    top: 0;
}

.tsw-inner {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    padding: 12px;
    position: relative;
}

.tsw-inner form {
    line-height: 1;
}

#top-search-wrap #top-search-close {
    border-radius: 2px 0 0 2px;
    cursor: pointer;
    font-size: 23px;
    font-style: normal;
    height: 40px;
    line-height: 40px;
    right: 13px;
    position: absolute;
    text-align: center;
    width: 45px;
    color: #5e5e5e;
}

#top-search-wrap #top-search-close:hover {
    background: #ddd;
}

#top-search-wrap input[type="text"] {
    background-color: #efefef;
    border: 0 none;
    border-radius: 2px;
    font-size: 15px;
    height: 40px;
    padding: 0 60px 0 10px;
    width: 100%;
}

.drawer-menu {
    list-style: none;
    padding: 0;
    margin-top: 12px;
}

.drawer-menu li {
    /* height: 45px; */
    line-height: 45px;
}

.drawer-menu li a {
    display: block;
    padding-left: 26px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    text-decoration: none;
}

.drawer-menu li a.on {
    color: #2196f3 !important;
}

.layout_drawer .drawer-menu li a:hover, .layout_drawer .drawer-menu li.on a {
    background: #f6f6f6;
}

.drawer-menu li.on a i {
    color: #2196f3;
}

.drawer-menu li a i {
    font-size: 20px;
    transform: translateY(5px);
    margin-right: 30px;
    color: #909090;
}

.home-add {
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    right: 15px;
    bottom: 20px;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 45px;
    background-color: #f44336;
    border: 0;
    outline: none;
    font-size: 23px;
    z-index: 999;
}

.home-add i {
    transition: all 500ms ease 0s;
}

.home-add:hover i {
    transform: rotate(360deg);
}

@media (max-width: 768px) {
    .main {
        padding: 80px 0 0 0;
    }
}

.footer {
    text-align: center;
    width: 100%;
    color: #a2a2a2;
    padding-top: 35px;
    padding-bottom: 15px;
}

.footer .f-menu {
    display: block;
    width: 100%;
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    margin-top: 8px;
}

.footer .f-menu > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.footer .f-menu > li > a {
    color: #a2a2a2;
    text-decoration: none;
}

.footer .f-menu > li > a:hover {
    color: #777;
}

.placeholder-border {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 12px 0 30px;
}

.placeholder {
    background-color: white;
    color: #404040;
    cursor: text;
    display: block;
    font-size: 13px;
    height: 60px;
    margin-left: 0;
    padding: 10px 0 0 10px;
}

@media (max-width: 377px) {
    a#top-thisuse {
        display: none;
    }
}

.name.openkx-name {
    font-size: small;
}

/*icon鐨勬棆杞晥鏋�*/
.info_card .comment .com.active .icon i {
    transform: rotate(-180deg);
}

.info_card .comment .com .icon i {
    opacity: 0.7;
    font-size: 20px;
    transition: 0.3s;
}

.info_card .comment .com {
    color: #262626;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    cursor: pointer;
}

.info_card .comment .com .icon {
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
    transform: translateY(3px);
}

input.openkx-box {
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: #999;
    cursor: text;
    font-size: 12px;
    height: auto;
    margin: 0;
    padding: 6px 8px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 1%;
}

.openkx-paginge {
    text-align: center;
}

.openkx-paginge ul a {
    border: none;
}

.push-button {
    text-align: -webkit-right;
}

.card_header.openkx-header {
    margin-top: -22px;
    margin-left: -30px;
}

span.shareTime.openkx-share {
    font-size: 16px;
}

.right.openkx-right {
    padding-top: 35px !important;
}

.btn.btn-default.openkx-duoop.openkx-btn {
    float: right;
    margin-top: -3%;
    margin-right: -6%;
}

.userheader li {
    list-style: none;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

i.material-icons.openkx-material {
    color: #848484;
    font-size: 20px;
    vertical-align: middle;
}

.openkx-showphoto {
    float: right;
    margin-right: -4%;
}

@media (max-width: 376px) {
    .openkx-showphoto {
        float: right;
        margin-top: 2px;
        margin-right: -18%;
    }

    i.material-icons.openkx-material {
        margin-right: 4px;
        margin-top: -12px;
    }
}

@media screen and (min-width: 412px) and (max-width: 450px) {
    .info_card .card_header .right .userheader .stateInfo.openkx-state {
        margin-top: 12px;
    }

    i.material-icons.openkx-material {
        margin-top: 10px;
    }
}

@media screen and (min-width: 375px) and (max-width: 376px) {
    i.material-icons.openkx-material {
        margin-top: 20px;
    }
}

@media (max-width: 320px) {
    .top-menu {
        float: right;
        margin: 0;
        padding: 0;
        height: 64px;
        line-height: 64px;
        margin-top: -64px;
    }
}

.pagination > li > a, .pagination > li > span {
    border: none !important;
}

.user.openkx-user {
    padding-top: 10px;
}

/*杞挱闃村奖*/
.gb_Fb {
    background: #f5f5f5;
    border-top: 1px solid #f5f5f5;
    border-color: rgba(0, 0, 0, .2);
    width: 100%;
    display: table;
}

.gb_Fb > div:first-child {
    text-align: left;
}

.gb_Fb > div {
    display: table-cell;
    text-align: right;
}

.gb_Fa, #gb a.gb_Fa.gb_Fa, .gb_Ha {
    color: #666;
    cursor: default;
    text-decoration: none;
}

.gb_Fb .gb_Eb {
    margin: 0 20px;
    white-space: nowrap;
}

.gb_Fa {
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
}

a.gb_Fa.gb_Nf.gb_Ee.gb_Eb {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    cursor: pointer;
}

.dropdown-menu.dropdown-menu-right.dropdown-menu-lg {
    padding: 0 0;
}

a.btn.btn-primary {
    font-weight: 600;
}

/*@media screen and (min-width:411px) and (max-width:415px){
    span.openkx-info {
    position: absolute;
    color: #262626;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.7;
    padding-right: 14px;
    line-height: 12px;
    left: 31%;
    top: 222px;
}
.right.openkx-right {
    padding-top: 23px !important;
}
}
@media screen and (min-width:359px) and (max-width:376px){span.openkx-info {
    position: absolute;
    color: #262626;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.7;
    padding-right: 14px;
    line-height: 12px;
    left: 34%;
    top: 222px;
}
.right.openkx-right {
    padding-top: 30px !important;
}
}
@media (max-width: 320px){
    span.openkx-info {
    position: absolute;
    color: #262626;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.7;
    padding-right: 14px;
    line-height: 12px;
    left: 40%;
    top: 222px;
}
.right.openkx-right {
    padding-top: 25px !important;
}
}*/
.forward.Dg a {
    color: #777;
    font-weight: 600 !important;
}
